{% extends 'base.html' %}

{% block content %}

<div>

    <u><h3 style="color:brown; padding-left: 250px;padding-top: 50px;">Food Details : </h3></u>

    {% for i in data %}
    <img src="{{i.img.url}}" alt="" class="image">
    
       <div class="right">
        <h4>NAME : {{i.name}}</h4><br>
       <h4>QUANTITY: {{i.quantity}}</h4> <br>
       <h4>PROTIEIN : {{i.protein}}</h4> <br>
       <h4>CARBS: {{i.carbs}}</h4> <br>
       <h4>FAT : {{i.fat}}</h4> <br>
       <h4>VITAMINS : {{i.vitamins}}</h4> <br>
           
       </div>
    {% endfor %}
    <!-- {{data}} -->
</div>

{% endblock %}